<section class="services show-products">
  <div class="container">
    <h1>Order for <%= @product.name %></h1>
    <div class="jumbotron order mt-5" id="result" >
      <div class="row mt-4">
        <div class="col-md mt-4">
          <%= form_with model: [@product, @order], local: true do |f| %>
            <div class="form-row mt-2">
              <div class="col">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class:"form-control" %>
              </div>
              <div class="col">
                <%= f.label :last_name  %>
                <%= f.text_field :last_name, class:"form-control" %>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col">
                <%= f.label :phone, class:"label" %>
                <%= f.text_field :phone, class:"form-control" %>
              </div>
              <div class="col">
                <%= f.label :address %>
                <%= f.text_field :address, class:"form-control" %>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col">
                <%= f.label :qty %>
                <%= f.select :qty, options_for_select(1.upto(10)), { default: 1 }, class:"custom-select", data: { controller: "hello", action:"change->hello#value"} %>
              </div>
              <div class="col mb-2">
                <%= f.label :size %>
                <%= f.select :size, options_for_select(Order::SHIRT_SIZE), { prompt: "Ве молиме изберете..."}, class:"custom-select" %>
              </div>
            </div>
          </div>
          <div class="col-md" id="price">
            <h3><%= @product.name %></h3>
            <p><%= image_tag(@product.resized_image) if @product.image_uploaded.attached? %> </p>
            <p><i class="fas fa-tag fa-lg"></i> Цена: <%= @product.price %> Ден</p>
            <p><i class="fas fa-shipping-fast fa-lg"></i> Достава: 130Ден | <span class="text-muted">ИН Пошта Радески</span></p>
          </div>
        </div>
        <div id='score' data-id="<%= @product.price %>">
        </div>
      </div>
      <%= f.submit "НАРАЧАЈ", class:"btn btn-primary btn-lg btn-block mt-4" %>
    <% end %>
  </div>
</section>
